@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");
body {
  margin: 0;
}

.wrap {
  width: 100vw;
  height: 100vh;
  background-color: #0F1320;
  background-image: url(../imgs/Frame\ 45.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
}
.wrap .header {
  height: 40px;
  width: 90%;
  padding: 2% 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap .header img {
  width: 185px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.wrap .header .nav {
  width: 60%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.wrap .header .nav li {
  font-size: 16px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  line-height: 24px;
  color: white;
  padding: 0% 2%;
  list-style-type: none;
}
@media screen and (max-width: 500px) {
  .wrap .header .nav li {
    font-size: 14px;
  }
}
.wrap .header .nav li:hover {
  cursor: pointer;
}
.wrap .header__btns {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  line-height: 16px;
  color: white;
}
@media screen and (max-width: 500px) {
  .wrap .header__btns {
    font-size: 14px;
  }
}
.wrap .header__btns div {
  padding: 3% 10%;
}
.wrap .header__btns div:last-child {
  border: 2px solid #22A75D;
  border-radius: 52px;
}
.wrap .header__btns div:hover {
  cursor: pointer;
}
.wrap .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  height: 85%;
  padding-left: 10%;
  margin: 0px;
}
.wrap .main__content {
  width: 532px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.wrap .main__content h5 {
  background: -webkit-gradient(linear, left bottom, left top, from(#2B3087), color-stop(81.99%, #00B4EC)), #FFD100;
  background: linear-gradient(0deg, #2B3087 0%, #00B4EC 81.99%), #FFD100;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.wrap .main__content h1 {
  font-size: 48px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: -0.02em;
  color: white;
}
@media screen and (max-width: 500px) {
  .wrap .main__content h1 {
    font-size: 36px;
    line-height: 36px;
  }
}
.wrap .main__content p {
  font-size: 16px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  line-height: 16px;
  color: white;
  opacity: 0.6;
}
@media screen and (max-width: 500px) {
  .wrap .main__content p {
    font-size: 14px;
  }
}
.wrap .main__btn {
  padding: 2% 5%;
  background-color: #22A75D;
  border: 2px solid #22A75D;
  border-radius: 52px;
  font-size: 16px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  line-height: 24px;
  color: white;
}
@media screen and (max-width: 500px) {
  .wrap .main__btn {
    font-size: 14px;
  }
}
.wrap .main__btn:hover {
  cursor: pointer;
}
.wrap .main__img {
  width: 50%;
  background-image: url(../imgs/bgr_main.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

@media screen and (max-width: 480px) {
  .wrap .header {
    width: 90%;
    padding: 2% 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
  }
  .wrap .header .nav {
    display: none;
  }
  .wrap .header__btns {
    display: none;
  }
  .wrap .main {
    width: 100%;
    padding-left: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrap .main__content {
    width: 90%;
    height: 49%;
    padding: 0% 5%;
  }
  .wrap .main__content h5 {
    margin: 5px;
  }
  .wrap .main__img {
    width: 100%;
    height: 50%;
    background-image: url(../imgs/bgr_mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrap .main__btn {
    background-color: #22A75D;
    border: 2px solid #22A75D;
    border-radius: 52px;
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */