body {
  margin: 0;
  height: 400vh;
  width: 100vw;
}

.token-main {
  height: 100%;
  width: 100%;
  background-color: #0f1320;
  color: white;
}
.token-main header {
  height: 10vh;
  padding: 2% 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.token-main header img {
  height: 30px;
}
.token-main header .mobile-on {
  display: none;
}
.token-main header .mobile-off {
  display: block;
}
.token-main header .nav {
  width: 60%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.token-main header .nav li {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: white;
  padding: 0% 2%;
  list-style-type: none;
}
.token-main header .btns {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.token-main header .btns div {
  padding: 3% 10%;
}
.token-main header .btns div:last-child {
  border: 2px solid #22A75D;
  border-radius: 52px;
}
.token-main header span {
  color: white;
  cursor: pointer;
}
.token-main__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30vh;
  padding-left: 8%;
  padding-right: 8%;
  width: 80%;
}
.token-main__stats h2 {
  width: 35%;
  margin-top: 0px;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.02em;
}
.token-main__stats div {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.token-main__stats div p {
  margin: 0;
  font-size: 20px;
  line-height: 44px;
  letter-spacing: -0.02em;
}
.token-main__stats div p:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.token-main__stats div span {
  font-size: 76px;
  line-height: 66px;
  letter-spacing: -0.02em;
  color: #FFD100;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.token-main__distribute {
  height: 50vh;
  padding: 5%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(./imgs/bgr_distribute.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}
.token-main__distribute div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.token-main__distribute p {
  font-size: 20px;
  line-height: 44px;
  letter-spacing: -0.02em;
  margin: 0;
}
.token-main__distribute p:last-child {
  text-align: end;
}
.token-main__distribute span {
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
  letter-spacing: -0.02em;
}
.token-main__plan {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.token-main__plan .plan__conteiner {
  width: 15.5%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #171B29;
  border-radius: 25px;
  margin: 0.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.token-main__plan h4 {
  margin: 5% 0%;
  font-size: 15px;
  opacity: 0.7;
  padding-left: 38%;
}
.token-main__plan p {
  margin: 5% 0%;
  font-size: 14px;
  opacity: 0.7;
  padding-left: 38%;
}
.token-main__plan .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.token-main__plan .logo p {
  opacity: 1;
  font-weight: 700;
  padding-left: 0%;
}
.token-main__plan .logo__header {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.token-main__plan .logo__header h5 {
  margin: 0%;
  font-size: 15px;
  font-weight: 700;
  color: white;
}
.token-main__plan .green {
  color: #22A75D;
}
.token-main__plan .yellow {
  color: #FFD100;
}
.token-main__plan .blue {
  color: #0F87CA;
}
.token-main__plan .red {
  color: #E20613;
}
.token-main__supply {
  height: 160vh;
  width: 100%;
  background-image: url(./imgs/bgr_supply.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.token-main__supply div {
  width: 50%;
  background-color: white;
  border-radius: 25px;
  text-align: center;
  color: #0F1320;
  padding: 3%;
}
.token-main__supply div h4 {
  margin: 0;
  padding-left: 15%;
  padding-right: 15%;
  font-weight: 700;
  font-size: 26px;
  line-height: 119%;
  letter-spacing: -0.02em;
}
.token-main__supply div h1 {
  margin: 5% 0% 0% 0%;
  padding-left: 15%;
  padding-right: 15%;
  font-weight: 700;
  font-size: 66px;
  line-height: 66px;
  letter-spacing: -0.02em;
  color: #19A255;
}
.token-main__supply div p {
  margin-top: 0;
  text-align: end;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}
.token-main__supply div:last-child {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.token-main__supply div:last-child h1 {
  color: #FFD100;
}
.token-main__supply div:last-child p:last-child {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.6;
}
.token-main footer {
  width: 100%;
  height: 77vh;
  background-image: url(./imgs/bgr_footer.svg);
  background-repeat: no-repeat;
  background-size: 100% 130%;
}
.token-main__media {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.token-main__media span {
  position: relative;
  font-size: 48px;
  opacity: 0.05;
}
.token-main__media img {
  position: absolute;
}
.token-main__footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10% 20%;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
}

@media screen and (max-width: 500px) {
  body {
    height: 300vh;
  }

  .token-main header {
    position: relative;
    z-index: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .token-main header .nav {
    background-color: #0F1320;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 10vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .token-main header .mobile-on {
    display: block;
  }
  .token-main header .mobile-off {
    display: none;
  }
  .token-main__stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    padding: 5%;
  }
  .token-main__stats h2 {
    width: 90%;
  }
  .token-main__stats div {
    width: 100%;
  }
  .token-main__stats div p {
    width: 50%;
    font-size: 16px;
    line-height: 20px;
  }
  .token-main__stats div p:last-child {
    text-align: end;
  }
  .token-main__stats div span {
    font-size: 50px;
    line-height: 45px;
  }
  .token-main__distribute {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-position: bottom;
    background-size: 100%;
  }
  .token-main__distribute div {
    height: 30%;
    width: 70%;
  }
  .token-main__distribute div:first-child {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .token-main__distribute div p {
    font-size: 14px;
    line-height: 18px;
  }
  .token-main__distribute div p:last-child {
    text-align: end;
  }
  .token-main__distribute div span {
    font-size: 36px;
    line-height: 56px;
  }
  .token-main__plan {
    padding-top: 5%;
  }
  .token-main__plan .plan__conteiner {
    width: 40%;
  }
  .token-main__plan .plan__conteiner .logo p {
    padding-left: 0%;
    margin-top: 10%;
  }
  .token-main__plan .plan__conteiner h4, .token-main__plan .plan__conteiner p {
    padding-left: 10%;
  }
  .token-main__supply {
    height: 100vh;
    background-image: url(./imgs/bgr_supply_500.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 15% 5%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .token-main__supply div {
    width: 90%;
    padding: 5%;
  }
  .token-main__supply div h4 {
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 700;
    font-size: 20px;
    line-height: 119%;
    letter-spacing: -0.02em;
  }
  .token-main__supply div h1 {
    margin: 5% 0% 0% 0%;
    padding-left: 0%;
    padding-right: 0%;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #19A255;
  }
  .token-main__supply div p {
    margin-top: 0;
    text-align: end;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 16px;
    line-height: 24px;
  }
  .token-main__supply div:last-child {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .token-main__supply div:last-child p:last-child {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.6;
  }
  .token-main footer {
    width: 100%;
    height: 77vh;
    background-image: none;
  }
  .token-main__footer-menu {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */