@import './constans.scss';

body{
    margin: 0;
}
.shield{
    &-main {
        background-color: $cremy;
        width: 100vw;
        height: 75vh;
        &__header{
            height: 10%;
            width: 80%;
            padding: 1% 10%;
            display: flex;
            justify-content: space-between;
            & img {
                width: 15%;
            }
        }
        &__nav{
            display: flex;
            width: 50%;
            & ul {
                width: 80%;
                list-style: none;
                display: flex;
                justify-content: space-around;
                align-items: center;
                @include header6;
            }
            & button{
                width: 15%;
                height: 50%;
                margin: 3%;
                background-color: $primary;
                @include header6;
                color: $white;
                font-size: 18px;
                border-radius: 5px;
                border: none;
            }
        }
        &__text {
            width: 80%;
            height: 90%;
            padding: 3% 10%;
            background-image: url(../imgs/bg-main.svg);
            background-repeat: no-repeat;
            background-position: 80% 20%;
            background-size: 30%;
            & div{
                width: 38%;
                height: 100%;
                
                & h1 {
                    @include header1;
                    line-height: 68px;
                }
                & p {
                    @include paragraph;
                }
                & button {
                    height: 5%;
                    background-color: $secondary;
                    border-radius: 5px;
                    border: none;
                }
            }
        }
    }
}