.life-changing {
    width: 95vw;
    height: 85vh;
    padding-top: 20px;
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap;
    background-image: url(./imgs/image\ 1.svg), url(./imgs/bg_3.svg);
    background-position: 95% 0, right -100px ;
    background-repeat: no-repeat;
    background-size: 39%, 40%;
    font-family: 'Montserrat', sans-serif;

}
.life-changing__nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.life-changing__nav__content {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.life-changing__app {
    width: 130px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E6E6E6;
    border-radius: 16px;
    padding: 0px 15px;
    font-size: 22px;
    font-weight: 600;

}
.life-changing__content {
    width: 25%;
    height: 55%;
    padding-left: 160px;

}
.life-changing__content h1 {
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 45px;
    letter-spacing: -0.02em;
    color: #130F49;
}
.life-changing__content p {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #0B0736;
}
.life-changing__content button {
    width: 166px;
    height: 61px;
    background: #130F49;
    border-radius: 20px;
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.targets, .calories {
    width: 85vw;
    height: 75vh;
    padding-left: 5%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
}
.targets__img {
    background-image: url(./imgs/Ellipse.svg);
    background-repeat: no-repeat;
    background-position: 162px 5px;
    background-size: 72%;
    padding-left: 160px;
}
.calories__img {
    background-image: url(./imgs/Ellipse_1.svg);
    background-repeat: no-repeat;
    background-position: 162px 5px;
    background-size: 72%;
    padding-left: 160px;
    width: 37%;
}
.targets__text, .calories__text{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    width: 60vw;
    padding: 25px 0px 35px 160px;
}
.targets__text h1, .calories__text h1{
    margin: 0;
    font-weight: 600;
    font-size: 50px;
    color: #130F49;
}
.targets__text > p, .calories__text > p {
    width: 75%;
    font-weight: 400;
    font-size: 18px;
    color: #130F49;
    opacity: 0.4;
}
.targets__text button, .calories__text button{
    width: 166px;
    height: 61px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #CCE8FD;
    border: #CCE8FD;
    border-radius: 20px;
    font-weight: 500;
    font-size: 18px;
    color: #130F49;
}
.btn__text p{
    margin: 0;
    opacity: 0.4;
    font-size: 14px;
    text-align: left;
}
.btn__text h5{
    margin: 0;
    font-size: 18px;
}
.products-description {
    height: 100vh;
    width: 100vw;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}
.description__left {
    float: left;
    width: 60%;
    height: 100%;
    background-image: url(./imgs/bg_product.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 0px 50px;
}
.description__right {
    float: right;
    width: 39%;
    display: flex;
    flex-direction: column;
}
.description__header{
    padding: 3% 0% 3% 20%;
    width: 40%;
    font-weight: 600;
    font-size: 40px;
    line-height: 38px;
    color: #130F49;
}
.product__imgs{
    width: 35%;
    height: 65%;
    padding-left: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 
}
.product {
    height: 25vh;
    width: 8vw;
    background: #FFFFFF;
    border-radius: 29px;
    text-align: center;
    padding: 5% 2%;
    box-sizing: border-box;
}
.product h5{
    margin: 0;
    font-size: 14px;
}
.product p{
    margin: 0;
    font-size: 14px;
    opacity: 0.4;
}
.position_down {
    align-self: flex-end;
}
.descr__text {
    margin-top: 10%;
    margin-bottom: 5%;
    font-weight: 400;
    font-size: 28px;
    color: #130F49;
    opacity: 0.4;
    width: 60%;
}
.descr__balance div {
    display: flex;
    align-items: center;
    background-image: url(./imgs/Rectangle_rose.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
}
.descr__balance span, .descr__barcode span {
   padding-left: 1%;
}
.descr__balance h5, .descr__barcode h5{
    margin: 10px;
    padding-left: 5%;
    font-size: medium;
}
.descr__balance p, .descr__barcode p{
    padding-left: 12%;
    width: 40%;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    opacity: 0.4;
}
.descr__barcode div {
    display: flex;
    align-items: center;
    background-image: url(./imgs/Rectangle_pearch.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
}
.partners {
    margin: 50px 260px;
    

}
.join-free{
    margin: 50px 100px;
    width: 80vw;
    height: 60vh;
    background: #D9F4FF;
    border-radius: 56px;
    border: #D9F4FF;
}