@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,700&display=swap");
body {
  margin: 0;
}

.shield-main {
  background-color: #F7F8FD;
  width: 100vw;
  height: 75vh;
}
.shield-main__header {
  height: 10%;
  width: 80%;
  padding: 1% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .shield-main__header {
    display: block;
  }
}
.shield-main__header img {
  width: 15%;
}
.shield-main__nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 800px) {
  .shield-main__nav {
    width: 100%;
    display: block;
  }
  .shield-main__nav ul {
    font-size: 14px;
  }
}
.shield-main__nav ul {
  width: 75%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  line-height: 18px;
  color: #03045E;
}
.shield-main__nav .btn {
  width: 25%;
  height: 70%;
  background-color: #03045E;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  line-height: 18px;
  color: #03045E;
  color: #FFFFFF;
  font-size: 18px;
  border-radius: 5px;
  border: none;
}
.shield-main__content {
  width: 80%;
  height: 78%;
  padding: 1% 10%;
  background-image: url(../imgs/bg-main.svg);
  background-repeat: no-repeat;
  background-position: 80% 20%;
  background-size: 30%;
}
.shield-main__content_text {
  width: 48%;
  height: 100%;
}
.shield-main__content_text h1 {
  font-size: 48px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  line-height: 55px;
  color: #03045E;
  line-height: 68px;
}
.shield-main__content_text p {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #03045E;
}
.shield-main__content_text button {
  height: 5vh;
  width: 10vw;
  background-color: #0098FF;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  line-height: 18px;
  color: #03045E;
  color: #FFFFFF;
}
.shield-domain {
  background-color: #FFFFFF;
  width: 100vw;
  height: 35vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shield-domain__search {
  width: 50%;
}
.shield-domain__search h3 {
  font-size: 32px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  line-height: 37px;
  color: #03045E;
}
.shield-domain__search_form {
  width: 95%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
}
.shield-domain__search_form div:nth-child(1) {
  background-color: #f5f5f5;
  width: 70%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #03045E;
  opacity: 0.5;
  padding: 2px 5%;
}
.shield-domain__search_form div:nth-child(2) {
  background-color: #0098FF;
  width: 25%;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  line-height: 18px;
  color: #03045E;
  color: #FFFFFF;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px 5%;
  text-align: center;
}
.shield-domain__names {
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}
.shield-domain__names > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.shield-domain__names > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.shield-domain__names > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.shield-domain__names > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.shield-domain__names > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.shield-domain__names > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.shield-domain__names div {
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.shield-domain__names h6 {
  margin: 0;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  line-height: 23px;
  color: #03045E;
  color: #0098FF;
}
.shield-domain__names p {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #03045E;
  opacity: 0.3;
  margin: 0;
}
.shield-services {
  background-color: rgba(245, 245, 245, 0.5);
  width: 100%;
}
.shield-services h2 {
  font-size: 40px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  line-height: 46px;
  color: #03045E;
  text-align: center;
  padding-top: 8%;
}
.shield-services__wrap {
  width: 80%;
  padding: 1% 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[3];
      grid-template: repeat(2, 1fr)/repeat(3, 1fr);
}
.shield-services__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shield-services__conteiner .conteiner__icon {
  background-color: #f5f5f5;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */